.carousel-item img {
  height: 500px; /* adjust to your preference */
  object-fit: cover;
  width: 100%;
}

.hero{
    height: 250px;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

.reflection{
    text-align: center;

}

.reflect{
    width: 700px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}
